
body{
	cursor: default;
	background: linear-gradient(10deg, #0f6567,#e4bb58);
	background-repeat : no-repeat;
	background-attachment : fixed;
	height : 100%;
	margin : 0;
	color: #fdfbf4;
}

div.global{
	text-align: center;
}

.logo{
	box-shadow: 0px 0px 27px -4px #568557, 
				inset 0px 0px 21px -10px #fbfbfb;
    box-sizing: border-box;
    margin-top: 33px;
    width: 300px;
    border-radius: 20px 0px 30px 0px;
}

.rightsearch{    
    font-size: 18px;
    border-radius: 0px 17px 0px 0px;
    padding: 12px 4px 11px 5px;
	box-sizing: border-box;
	box-shadow: 0px 0px 12px 1px #568557, 
				inset 0px 0px 15px -6px #fbfbfb;
}

.inputcenter{
	border: 5px;
    padding: 10px 11px 10px 11px;
	width: 201px;
    letter-spacing: 9px;
    color: #3333338c;
    background-color: #fffffe;
    box-shadow: 0px 0px 15px 0px #fbfbfb, 
				inset 0px 0px 7px 3px #568557;
    outline: none;
    margin: 15px 5px 15px 5px;		
    font-size: 22px;
}

.leftnew{
    font-size: 25px;
    border-radius: 17px 0px 0px 0px;
    padding: 6px 4px 10px 5px;
	box-sizing: border-box;
	box-shadow: 0px 0px 12px 1px #568557, 
				inset 0px 0px 15px -6px #fbfbfb;
}

.activado{
	color: #ffffff;
    background: #00802d40;
	box-shadow: 0px 0px 12px 1px #2f502f, 
				inset 0px 0px 15px -6px #a5ff77;
}

.activado:hover{
	box-shadow: 0px 0px 15px 0px #fbfbfb, 
				inset 0px 0px 7px 3px #568557;
}

.body{
	border-radius: 0px 0px 25px 25px;
    margin: auto;
    width: 300px;
    height: 350px;
    box-shadow: 0px 0px 19px -2px #568557, 
				inset 0px 0px 14px -4px #fbfbfb;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-variant: small-caps;
	color: #fdfbf4;
}

.optionpos {
	overflow: hidden;
    position: absolute;
    width: 100%;
	margin-bottom: 10px;
	height: 55px;
    padding-top: 20px;
}

.culturestyle{
	padding: 0px 19px 0px 19px;
    font-size: 30px;
    border-radius: 45px;
	box-shadow: 0px 0px 17px 3px #16423c, 
				inset 0px 0px 4px 0px #a3b7a4;
}

.culturestyle:hover{
	box-shadow: 0px 0px 8px 1px #a3b7a4, 
				inset 0px 0px 8px 0px #16423c;
}

.leftgit{	
	margin: 0px 20px -5px 0px;
	width: 28px;
}

.rightinfo{
	margin: 0px 0px -6px 19px;
}

.selectopt{
	margin-top: 21px;
    display: inline-block;
    padding: 7px 25px 6px 25px;
    width: 220px;
    box-shadow: 0px 0px 3px 0px #0b130e, 
				inset 0px 0px 5px 1px #3f7140;
    border-radius: 0px 0px 15px 15px;
}

.selectoptactivo{
	box-shadow: 0px 0px 8px 2px #276459, 
				inset 0px 0px 19px -11px #fbfbfb;
}

.status{
	height: 54px;
    padding: 20px 0px 0px 0px;
    font-size: 24px;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 0px 19px -2px #568557, 
				inset 0px 0px 14px -4px #fbfbfb;
}

.spanicon{
	color: #3333338c;
    font-size: 20px;
    padding: 10px 25px 9px 25px;
    background-color: #fffffe;
    box-shadow: 0px 0px 5px 1px #fbfbfb, inset 0px 0px 4px 3px #568557;
    border-radius: 50px;
}

.info{
	height: 200px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 0px 19px -2px #568557, 
				inset 0px 0px 14px -4px #fbfbfb;
    margin: 10px 14px -11px 15px;
    padding-top: 8px;
}

.infobody{
	
}

.selecdiv{
	padding: 11px 10px 10px 10px;
    margin: 0px 15px 8px 15px;
    cursor: pointer;
    color: #fffffe;
    border-radius: 25px;
    font-size: 13px;
    height: 19px;	
}

.divsin{
	box-shadow: 0px 0px 3px 1px #568557, 
				inset 0px 0px 4px 1px #efececbf;
}

.divcheck{
	box-shadow: 0px 0px 7px -2px #fbfbfb, 
				inset 0px 0px 4px 3px #568557;	
}

.cambiardiv{
	padding: 11px 10px 10px 10px;
    margin: 0px 15px 8px 15px;
    cursor: pointer;
    color: #fffffe;
    border-radius: 25px;
    font-size: 13px;
    height: 19px;
	box-shadow: 0px 0px 3px 1px #568557, 
				inset 0px 0px 4px 1px #efececbf;
}
.cambiardiv:hover{
	box-shadow: 0px 0px 7px -2px #fbfbfb, 
				inset 0px 0px 4px 3px #568557;
}

.divestatus{
	padding: 11px 10px 10px 10px;
    margin: 0px 50px 8px 50px;
    cursor: pointer;
    color: #fffffe;
    border-radius: 25px;
    font-size: 13px;
    height: 18px;
    letter-spacing: 6px;	
}
